
.page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #192c41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Montserrat", "Arial", sans-serif;
  background-image: url('/background.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}


.hero {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.configWrapper {
  position: absolute;
  left: 28px;
  top: 22px;
  z-index: 30;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  z-index: 40;
  align-items: center;
  justify-content: center;
}

.btnSettings {
  position: fixed;
  top: 20px;
  left: 20px;
  background-image: url('/settings.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  opacity: 0.8;
}

.btnSettings:hover {
  opacity: 1;
  cursor: pointer;
}

.btnNormal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 44px;
  border-radius: 18px;
  background-image: url('/wood.webp');
  filter: saturate(200%);
  background-repeat: repeat;
  background-size: auto;
  color: #ecd2b6;     
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid rgba(184, 128, 24, 0.473);
  box-shadow: 1px -1px 20px 3px rgba(242,148,38,0.59);
  cursor: pointer;
  transition: transform .14s ease, box-shadow .14s ease;
  user-select: none;
  white-space: nowrap;
}

.btnNormal:hover {
  transform: translateY(-3px);
  box-shadow: 1px -1px 30px 8px rgba(252, 152, 38, 0.59);
}

.logo {
  margin-bottom: 80px;
}

@media (max-width: 640px) {
  .actions {
    gap: 16px;
    bottom: 22px;
    flex-wrap: wrap;
  }
  .btnNormal {
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
  }
}
