
.hero {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.configWrapper {
  position: absolute;
  left: 28px;
  top: 22px;
  z-index: 30;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  padding-top: 570px;
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 40;
  align-items: center;
  justify-content: center;
}

.btnSettings {
  position: fixed;
  top: 20px;
  left: 20px;
  background-image: url('/settings.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  opacity: 0.8;
  transition: transform 0.5s ease-in-out;
}

.btnSettings:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.btnNormal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 275px;
  border-radius: 18px;
  background-image: url('/wood.webp');
  filter: saturate(150%);
  background-repeat: repeat;
  background-size: auto;
  color: #ecd2b6;     
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid rgba(255, 248, 235, 0.473);
  box-shadow: 1px -1px 15px 4px rgba(255, 238, 193, 0.315);
  cursor: pointer;
  transition: transform .14s ease, box-shadow .14s ease;
  user-select: none;
  white-space: nowrap;
}

.btnNormal:hover {
  transform: translateY(-3px);
  box-shadow: 1px -1px 25px 6px rgba(255, 238, 193, 0.4);
}

.logo {
  margin-bottom: 50px;
  position: absolute;
  top: 80px;
  left: calc(50vw - 250px);
  animation: levitate 10s ease-in-out infinite;
}

.bottomFrame {
  position: fixed;
  bottom: -10px;
  left: -60px;
  animation: hang-bottom 7s ease-in-out infinite;
}

.topFrame {
  position: fixed;
  top: -20px;
  right: 0px;
  animation: hang-top 8s ease-in-out infinite;
}


@keyframes levitate {
  0%, 100% {
    transform: translateY(8px) translateX(10px) rotate(-3deg);
  }
  50% {
    transform: translateY(-5px) translateX(0px) rotate(3deg);
  }
}

@keyframes hang-top {
  0%, 100% {
    transform: translateY(-20px) translateX(0) rotate(-2deg);
  }
  50% {
    transform: translateY(-5px) translateX(12px) rotate(1deg);
  }
}

@keyframes hang-bottom {
  0%, 100% {
    transform: translateY(10px) translateX(5px) rotate(-2deg);
  }
  50% {
    transform: translateY(35px) translateX(-20px) rotate(-8deg);
  }
}

@media (max-width: 640px) {
  .actions {
    gap: 16px;
    bottom: 22px;
    flex-wrap: wrap;
  }
  .btnNormal {
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
  }
}
